<ion-content [fullscreen]="true">
  <div class="cabezera">
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
  </div>
  <div>
    <ion-img class="logo-tellevo" src="../../assets/icon/Logo.png"></ion-img>
  </div>
  <form [formGroup]="formIniciar">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col>
          <div text-center>
          </div>
          <div padding>
            <ion-item>
              <ion-label>
                <ion-icon name="mail-outline"></ion-icon>
              </ion-label>
              <ion-input formControlName="mail" id="correo" type="text" placeholder="Correo"></ion-input>
            </ion-item>
            <ion-item class="item">
              <ion-label>
                <ion-icon name="lock-closed-outline"></ion-icon>
              </ion-label>
              <ion-input formControlName="contra" type="password"  placeholder="Contraseña">
              </ion-input>
            </ion-item>
          </div>
          <div padding class="boton-inicio">
            <ion-button type="submit" size="default" shape="round" expand="block" class="iniciar" (click)="ingresar()">Iniciar</ion-button>
            <div>
              <ion-button fill="clear" size="small" href="/recup-contr">Olvidé mi contraseña</ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <div id="registro" >
    <ion-text><p class="texto">¿Aún no tienes cuenta?</p></ion-text>
    <ion-button href="/registro" fill="clear" size="small">Registrate</ion-button>
  </div>


</ion-content>