ion-content,ion-header,on-menu-button{
    --background: transparent;
}

#map {
    height: 90%;
  }

.cabezera{
    background:transparent;
    margin-top: 10px;
}

.bienvenido{
    margin-left: 10px;
    font-size: 3000px;

}

.busqueda{
    height: 10vh;
    background-color: #ffffff;
    border-radius: 8px;
    border-color: #FF0000;
    
}
.searchbar {
    transform: translateY(0%);
    background-color: #FF0000; 
    color: #00FF00;
    
}